# Python environment files
__pycache__/
*.pyc
.venv/
venv/
env/

# OS hidden files
.DS_Store
Thumbs.db

# Ignore local database (Optional)
# If you want your local test data pushed to GitHub, remove the line below.
# If you want the server to start with a fresh, clean database, keep it.
*.db
